@import "../../../../styles//variables.scss";

.days {
  width: 100%;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 7px;
}

.cards {
  background-color: var(#{--card-background-default});
  width: 150px;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;

  .dayOfWeek {
    color: var(#{--text-color-default});
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 2px;
  }
  .dayOfTheMonth {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $base-color;
  }
  .weather_svg {
    width: 40px;
    height: 40px;
    display: block;
    margin: -10px 0 43px;
    img {
      height: 100px;
    }
    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .temperatureDay {
    color: var(#{--text-color-default});
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .temperatureNight {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: $base-color;
  }
  .precipitation {
    margin-top: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: $base-color;
  }

  &:hover {
    box-shadow: var(#{--card-shadow-default});
  }
}

.tabs {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;

  .tabsButton {
    display: flex;
  }
  .__btnItem {
    color: var(#{--text-color-default});
    background-color: var(#{--components-background-default});
    box-shadow: $box-shadow;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 129px;
    height: 35px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    &:hover {
      box-shadow: 0px 3px 20px rgba(147, 144, 144, 0.28);
    }
  }
  .__btnItem {
    margin-right: 15px;
  }

  .activ {
    color: #fff;
    background-color: $primary-color;
  }
}
