.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  .logoBlock {
    display: flex;
    align-items: center;

    svg {
      height: 165px;
      width: 65px;
    }

    span {
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      text-transform: uppercase;
      color: #4793ff;
      padding-left: 20px;
      @media (max-width: 576px) {
        display: none;
      }
    }
  }
  .selectCountry {
    display: flex;
    align-items: center;
    cursor: pointer;
    .themeSelect {
      position: relative;
      height: 30px;
      width: 30px;
      margin-right: 20px;
      border-radius: 30%;
      svg {
        height: 100%;
        width: 100%;
      }

      .pulse_button__rings {
        border: 1px solid #1c9fd3;
        position: absolute;
        top: -2px;
        left: -3px;
        bottom: 0;
        right: 0;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        animation-duration: 3s;
        animation-name: pulse_1;
        animation-iteration-count: infinite;
        z-index: -1;
      }

      .pulse_button__rings:nth-child(2) {
        animation-name: pulse_2;
      }

      .pulse_button__rings:nth-child(3) {
        animation-name: pulse_3;
      }

      @keyframes pulse_1 {
        from {
          opacity: 1;
          transform: scale(1, 1);
        }

        to {
          opacity: 0;
          transform: scale(1.2, 1.2);
        }
      }

      @keyframes pulse_2 {
        from {
          opacity: 1;
          transform: scale(1, 1);
        }

        to {
          opacity: 0;
          transform: scale(1.3, 1.3);
        }
      }

      @keyframes pulse_3 {
        from {
          opacity: 1;
          transform: scale(0.8, 0.8);
        }

        to {
          opacity: 0;
          transform: scale(1.4, 1.4);
        }
      }
    }
  }
}
