@import "../../../styles/variables.scss";

.popUp {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  display: flex;
  width: 750px;
  justify-content: space-between;
  padding: 40px 0 40px 30px;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  @media (max-width: 767px) {
    flex: 0 1 90%;
    width: 95%;
  }
  @media (max-width: 575px) {
    flex-direction: column;
    height: auto;
    padding: 20px 0 20px 25px;
  }
  @media (max-width: 480px) {
    flex-direction: column;
    height: auto;
    padding: 20px 0 20px 10px;
  }
  .popUpLeft {
    @media (max-width: 575px) {
      position: relative;
    }
    .__temperature {
      font-weight: 500;
      font-size: 60px;
      color: $primary-color;
      padding: 5px 0;
    }
    .dayNew {
      font-weight: normal;
      font-size: 25px;
      line-height: 30px;
      color: var(#{--text-color-default});
    }

    .iconWether {
      height: 53px;
      width: 53px;
      margin: 25px 0;
      position: relative;
      @media (max-width: 575px) {
        position: absolute;
        right: 167px;
        top: -18px;
      }
      img {
        position: absolute;
        left: -30px;
        top: -40px;
        height: 150px;
        @media (max-width: 575px) {
          height: 209px;
          left: 15px;
        }
      }
    }
    .info {
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: $base-color;
      padding-top: 10px;
      @media (max-width: 575px) {
        padding-top: 0;
      }
    }
  }

  .popUpContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    @media (max-width: 575px) {
      padding-top: 15px;
      padding-right: 2px;
    }
  }

  .closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: rotate(260deg);
    }
  }
}

.blure {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.432);
  z-index: 1000;
}
